body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-17xl: 36px;
  --font-size-3xl: 22px;
  --font-size-10xl: 29px;
  --font-size-5xl: 24px;
  --font-size-lgi: 19px;
  --font-size-21xl: 40px;
  --font-size-13xl: 32px;
  --font-size-xl: 20px;
  --font-size-base: 16px;
  --font-size-7xl: 26px;
  --font-size-9xl: 28px;
  --font-size-29xl: 48px;
  --font-size-45xl: 64px;
  --font-size-32xl: 51px;
  --font-size-19xl: 38px;

  /* Colors */
  --color-white: #fff;
  --color-gainsboro: #d9d9d9;
  --color-red: #fa0101;
  --color-aqua: #00fdfd;
  --color-black: #000;
  --color-gray-100: #fffefe;
  --color-gray-200: #8b9579;
  --color-gray-300: #808775;
  --color-gray-400: rgba(0, 0, 0, 0.2);
  --color-cornflowerblue-100: #3b94e8;
  --color-cornflowerblue-200: #146ec1;
  --color-palegoldenrod-100: #e6e19c;
  --color-palegoldenrod-200: rgba(230, 225, 156, 0.2);
  --color-lightgoldenrodyellow: #f7f5d0;
  --color-dimgray-100: #5a6050;
  --color-darkslategray: #484e3c;

  /* Gaps */
  --gap-228xl: 247px;
  --gap-5xl: 24px;
  --gap-mini: 15px;
  --gap-0: 0px;
  --gap-107xl: 126px;
  --gap-199xl: 218px;
  --gap-58xl: 77px;
  --gap-21xl: 40px;
  --gap-17xl: 36px;
  --gap-35xl: 54px;
  --gap-xl: 20px;
  --gap-43xl: 62px;
  --gap-52xl: 71px;
  --gap-109xl: 128px;
  --gap-60xl: 79px;
  --gap-126xl: 145px;
  --gap-4xl: 23px;
  --gap-115xl: 134px;
  --gap-36xl: 55px;

  /* Paddings */
  --padding-123xl: 142px;
  --padding-xl: 20px;
  --padding-84xl: 103px;
  --padding-48xl: 67px;
  --padding-54xl: 73px;
  --padding-37xl: 56px;
  --padding-73xl: 92px;
  --padding-11xs: 2px;
  --padding-17xl: 36px;
  --padding-41xl: 60px;
  --padding-2xl: 21px;
  --padding-16xl: 35px;
  --padding-12xl: 31px;
  --padding-20xl: 39px;
  --padding-18xl: 37px;
  --padding-30xl: 49px;
  --padding-26xl: 45px;
  --padding-22xl: 41px;
  --padding-13xl: 32px;
  --padding-8xl: 27px;
  --padding-11xl: 30px;
  --padding-3xl: 22px;
  --padding-7xs: 6px;
  --padding-27xl: 46px;
  --padding-lg: 18px;
  --padding-sm: 14px;
  --padding-5xs: 8px;
  --padding-mini: 15px;
  --padding-28xl: 47px;
  --padding-4xl: 23px;
  --padding-6xs: 7px;
  --padding-14xl: 33px;
  --padding-7xl: 26px;
  --padding-5xl: 24px;
  --padding-4xs: 9px;
  --padding-24xl: 43px;
  --padding-19xl: 38px;
  --padding-8xs: 5px;
  --padding-mid: 17px;
  --padding-base: 16px;
  --padding-9xs: 4px;
  --padding-39xl: 58px;
  --padding-10xs: 3px;
  --padding-2xs: 11px;
  --padding-12xs: 1px;
  --padding-smi: 13px;
  --padding-xs: 12px;
  --padding-10xl: 29px;
  --padding-43xl: 62px;
  --padding-21xl: 40px;
  --padding-lgi: 19px;
  --padding-6xl: 25px;
  --padding-3xs: 10px;
  --padding-333xl: 352px;
  --padding-157xl: 176px;

  /* Border radiuses */
  --br-11xl: 30px;
  --br-xl: 20px;
}
